<nav class="navbar navbar-inverse sidebar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
         <a class="centerAlign" routerLink='javascript' routerLinkActive="active"> Javascript <span style="font-size:16px;" class=" pull-right hidden-xs showopacity glyphicon glyphicon-align-justify"></span></a>
        </li>
        <li>
         <a class="centerAlign" routerLink='angularjs' routerLinkActive="active">Angular JS <span style="font-size:16px;" class=" pull-right hidden-xs showopacity glyphicon glyphicon-align-justify"></span></a>
        </li>
        <li>
         <a class="centerAlign" href="#">Angular 2 <span style="font-size:16px;" class=" pull-right hidden-xs showopacity glyphicon glyphicon-align-justify"></span></a>
        </li>
        <li>
         <a class="centerAlign" routerLink='oops' routerLinkActive="active">C#<span style="font-size:16px;" class=" pull-right hidden-xs showopacity glyphicon glyphicon-align-justify"></span></a>
        </li>
        <li>
         <a class="centerAlign" routerLink='oops' routerLinkActive="active">SQL<span style="font-size:16px;" class=" pull-right hidden-xs showopacity glyphicon glyphicon-align-justify"></span></a>
        </li>
        <li>
         <a class="centerAlign" routerLink='oops' routerLinkActive="active">Html5<span style="font-size:16px;" class=" pull-right hidden-xs showopacity glyphicon glyphicon-align-justify"></span></a>
        </li>
        <li>
         <a class="centerAlign" routerLink='oops' routerLinkActive="active">Bootstrap<span style="font-size:16px;" class=" pull-right hidden-xs showopacity glyphicon glyphicon-align-justify"></span></a>
        </li>
        <li>
         <a class="centerAlign" routerLink='oops' routerLinkActive="active">Css3<span style="font-size:16px;" class=" pull-right hidden-xs showopacity glyphicon glyphicon-align-justify"></span></a>
        </li>

      </ul>
    </div>
    
  </div>
   
</nav>

<div class="col-md-6">
  
  <router-outlet></router-outlet>

</div>
<div class="col-md-6 adDisplay">
<!--<div data-WRID="WRID-149305358352851965" data-widgetType="staticBanner"  data-class="affiliateAdsByFlipkart" height="250" width="250"></div><script async src="//affiliate.flipkart.com/affiliate/widgets/FKAffiliateWidgets.js"></script>
<div data-WRID="WRID-149313323249816736" data-widgetType="staticBanner"  data-class="affiliateAdsByFlipkart" height="250" width="250"></div><script async src="//affiliate.flipkart.com/affiliate/widgets/FKAffiliateWidgets.js"></script>
   <!--<div data-WRID="WRID-149305358466943834" data-widgetType="staticBanner"  data-class="affiliateAdsByFlipkart" height="50" width="320"></div><script async src="//affiliate.flipkart.com/affiliate/widgets/FKAffiliateWidgets.js"></script>-->
  <a href="https://dl.flipkart.com/dl/men/tshirts/pr?affid=rajeevkum19&sid=2oq%2Cs9b%2Cj9y"><img src="/src/images/flip3.jpg" alt="" style="width:90%;" class="img-responsive"></a>-->
 <!--<a class="centerAlign" href="http://www.Amazon.in/exec/obidos/redirect-home?tag=lyfclciks-21&placement=home_multi.gif&site=amazon"> 
<img class="fixedImage" src="http://g-ec2.images-amazon.com/images/G/31/associates/promohub/amazonIN_logo_200_75.jpg?tag-id=lyfclciks-21" border="0" alt="In Association with Amazon.in"> -->
<!--</a>-->
  <!--<img src="/src/images/ad1.png" alt="">
<a class="adUrl" href="https://dl.flipkart.com/dl/mens-clothing/~minimum-25percent-off-on-clothing/pr?offer=nb%3Amp%3A0388955221&p%5B%5D=facets.filter_standard%255B%255D%3D1&affid=rajeevkum19&facets.availability[]=Exclude+Out+of+Stock&sid=2oq%2Cs9b">Try Now</a>-->
  <div>