<div class="container topPadding">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">call,apply and bind</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="col-md-6">
            <ul>
              <li>
                <p>The call() method calls a function with a given this value and arguments provided individually.<p>
              </li>
              <li>
                <p>The apply() method calls a function with a given this value, and arguments provided as an array (or an array-like object).</p>
              </li>
              <li>
                <p>The bind() method creates a new function that, when called, has its this keyword set to the provided value, with a given
                sequence of arguments preceding any provided when the new function is called.</p>
              </li>
            </ul>

          </div>
          <div class="col-md-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/S1jWAhRjCsk" frameborder="0" allowfullscreen></iframe>
          </div>

         
 </div>

      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Prototype</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-md-6">
            <p>Understanding Prototypal inheritance in JavaScript.</p>
          </div>
          <div class="col-md-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/s0Tc9YdjJbU" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">By Reference vs By Value</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-md-6">
            <p>What is By Reference and By Value</p>
          </div>
          <div class="col-md-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/XrSI6zrU3aE" frameborder="0" allowfullscreen></iframe>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
